In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("weather_data.csv")

In [3]:
df.head()

    temp  max_temp  wind_speed  cloudcover  precip  humidity  class
0  29.90     37.00       23.00       58.60  146.00     83.86      1
1  93.04     82.41       63.44      102.42  192.07    129.30      1
2  87.13     98.82       72.29      122.12  191.80    142.25      1
3  92.12     72.39       73.84       96.50  196.53    150.42      1
4  92.64     76.03       67.13       92.61  191.76    126.61      1

In [4]:
df.drop(columns="max_temp",inplace=True)

In [5]:
df.head()

    temp  wind_speed  cloudcover  precip  humidity  class
0  29.90       23.00       58.60  146.00     83.86      1
1  93.04       63.44      102.42  192.07    129.30      1
2  87.13       72.29      122.12  191.80    142.25      1
3  92.12       73.84       96.50  196.53    150.42      1
4  92.64       67.13       92.61  191.76    126.61      1

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [7]:
from sklearn.ensemble import VotingClassifier

In [8]:
df = df.to_numpy()

In [9]:
X = df[:,:-1]
y = df[:,-1]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [11]:
clf1 = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)

In [12]:
clf1 = clf1.fit(X_train, y_train)

In [13]:
pred = clf1.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
accuracy = accuracy_score(y_test, pred)

In [16]:
accuracy

0.9914021164021164